body {
    color: #777777;
    background: #777777;
    width: 960px;
    font-size: 18px;
    font-family: 'arial', 'helvetica neue', 'helvetica', 'sans-serif'
}

#aside {

}

#article {
    color: #ebebeb;
    background: #777777
}

header {
    
}

footer {
    
}

#section {
    width: 495px
}

#aside {
    
}

.ebeb {
    background: #ebebeb
}

.seveb {
color: #777777;
background: #ebebeb
}